<div class="main-container">
  <div class="topnav" >
    <ul>
      <div class="subnav"><a routerLink="Home">Home</a></div>
      
      <div class="subnav"><a routerLink="About">About</a>
        
        <div class="subnav-content">
          <a class="subnavbtn" id="test" routerLink="About/AboutMe">About Me</a>
          <a class="subnavbtn" routerLink="About/AboutSite">About this site</a>
          
        </div>
      </div>
      <div class="subnav"><a routerLink="Contact">Contact</a></div>
    </ul>
  </div>
</div>

 

<div class="component-container">
  <!-- <app-home></app-home>
  <app-about></app-about> -->
  <router-outlet></router-outlet>
</div>