/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: #333;
    
  }
  ul{
    list-style-type: none;
  }

  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(197, 25, 25);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  /* .topnav .icon {
    display: none;
  } */

  /* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
  margin: 10;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 20 px;
  border: none;
  outline: none;
  color: white;
  padding: 30px 10px;
  background-color: inherit;
  margin: 10;
  margin-top: 50px;
  
}


.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(103, 162, 245);
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 10;
  background-color: rgb(144, 205, 245);
  width: 40%;
  z-index: 100;
  height: 150 px;
  width: 100px;
}



/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}